{% extends 'base.html' %}

{% block title %}
Buy
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  <img src="/static/b1.jpg" class="d-block w-100 mx-0" alt="..">
</div>

<h1 align="center"><font color="green">Let's Plant<h1>

<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant1</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant2</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p3.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant3</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p4.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant4</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p5.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant5</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p6.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant6</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p7.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant7</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p8.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant8</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant9</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant10</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 850px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/p3.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Plant11</h5>
        <h6 class="card-body">Price:000$</h6>
        <a class="btn btn-outline-primary" href="/ship" role="button">Buy</a> 
      </div>
    </div>
  </div>
</div>

{% endblock body  %}