{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}


{% block body %}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/c24.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fun Fact:</h5>
        <p>70,000 plant species are utilized for medicinal and healing purposes.</p>
        <a class="btn btn-success " role="button" aria-enabled="false" href="/buy">Plant</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/c5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fun Fact:</h5>
        <p>The eye-catchy Dandelion is edible! </p>
        <a class="btn btn-success " role="button" aria-enabled="false" href="/buy">Plant</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/c25.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fun Fact:</h5>
        <p> Many plant species are used as natural cloth dyers.</p>
        <a class="btn btn-success " role="button" aria-enabled="false" href="/buy">Plant</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 align ="center"><font color="#198754">Grasshopper</font></h1>
<p align ="center"> <font color="#198754"> 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit non massa bibendum, at maximus mauris tincidunt. Aliquam eu lacinia lorem. Proin at neque non orci convallis feugiat. Phasellus lobortis nisl ut fermentum tempor. Sed vel tellus nunc. Ut eget orci orci. In auctor dolor ac nulla mollis, a condimentum ligula auctor.

Vestibulum vehicula nisl quis lacus suscipit, vitae euismod lacus ultrices. Morbi condimentum nulla eu velit iaculis pellentesque. Mauris tempor sollicitudin egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam erat tellus, mattis non commodo sed, cursus nec justo. Nunc eu malesuada arcu, sit amet porta neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vehicula eros at diam scelerisque, eget condimentum ex aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed ipsum sit amet libero molestie malesuada. Sed dictum nulla ac elit sagittis ultrices. Vestibulum pharetra malesuada lorem ut tempus.

Fusce vel lacus eu dolor dapibus condimentum in venenatis felis. Morbi faucibus dui erat, sit amet viverra est bibendum et. Cras aliquet tellus sit amet sem luctus, a placerat metus rhoncus. Cras dapibus rutrum tortor ac imperdiet. Pellentesque viverra placerat leo, quis sagittis tortor lacinia dictum. In ut tincidunt odio, vel aliquet orci. Nam cursus orci sed elit gravida bibendum. Mauris mollis eros vitae enim euismod posuere. Aliquam ac suscipit purus. Fusce ullamcorper justo vitae magna pulvinar, et rutrum ante semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Integer velit nunc, pretium bibendum lorem non, tincidunt congue turpis. Cras sit amet ligula quam. Phasellus sed nunc aliquet nibh hendrerit ornare. Fusce non justo at nunc placerat tristique a at diam. Suspendisse in eleifend nunc. Fusce porttitor malesuada orci id sagittis. Fusce et elementum velit. Fusce posuere fermentum pulvinar. Ut convallis pellentesque posuere. Maecenas lobortis lectus quis diam sagittis faucibus. Etiam fringilla facilisis nunc, id maximus lacus sagittis vitae. Curabitur eu urna non tortor efficitur dictum ac in quam. Donec semper eget massa eget dapibus. Nullam sollicitudin vel metus ut cursus.
</font>
</p>

<p align ="center"> <font color="#198754"> 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus velit non massa bibendum, at maximus mauris tincidunt. Aliquam eu lacinia lorem. Proin at neque non orci convallis feugiat. Phasellus lobortis nisl ut fermentum tempor. Sed vel tellus nunc. Ut eget orci orci. In auctor dolor ac nulla mollis, a condimentum ligula auctor.

Vestibulum vehicula nisl quis lacus suscipit, vitae euismod lacus ultrices. Morbi condimentum nulla eu velit iaculis pellentesque. Mauris tempor sollicitudin egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam erat tellus, mattis non commodo sed, cursus nec justo. Nunc eu malesuada arcu, sit amet porta neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vehicula eros at diam scelerisque, eget condimentum ex aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed ipsum sit amet libero molestie malesuada. Sed dictum nulla ac elit sagittis ultrices. Vestibulum pharetra malesuada lorem ut tempus.

Fusce vel lacus eu dolor dapibus condimentum in venenatis felis. Morbi faucibus dui erat, sit amet viverra est bibendum et. Cras aliquet tellus sit amet sem luctus, a placerat metus rhoncus. Cras dapibus rutrum tortor ac imperdiet. Pellentesque viverra placerat leo, quis sagittis tortor lacinia dictum. In ut tincidunt odio, vel aliquet orci. Nam cursus orci sed elit gravida bibendum. Mauris mollis eros vitae enim euismod posuere. Aliquam ac suscipit purus. Fusce ullamcorper justo vitae magna pulvinar, et rutrum ante semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Integer velit nunc, pretium bibendum lorem non, tincidunt congue turpis. Cras sit amet ligula quam. Phasellus sed nunc aliquet nibh hendrerit ornare. Fusce non justo at nunc placerat tristique a at diam. Suspendisse in eleifend nunc. Fusce porttitor malesuada orci id sagittis. Fusce et elementum velit. Fusce posuere fermentum pulvinar. Ut convallis pellentesque posuere. Maecenas lobortis lectus quis diam sagittis faucibus. Etiam fringilla facilisis nunc, id maximus lacus sagittis vitae. Curabitur eu urna non tortor efficitur dictum ac in quam. Donec semper eget massa eget dapibus. Nullam sollicitudin vel metus ut cursus.
</font>
</p>


{% endblock body  %}
